.backdrop {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.booking {
  background: white;
  width: 50vh;
  height: 80vh;
  z-index: 100;
  border-radius: 10px;
  border: solid;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.date {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid;
}

.radio {
  display: none;
}

.active {
  background-color: antiquewhite;
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: solid;
}

.btn {
  background-color: antiquewhite;
  border: solid;
  color: black;
}

.date:hover {
  background-color: antiquewhite;
}
