.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px;
  height: 50px;
}

.logoLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: auto;
  width: auto;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  width: 100vw;
  height: 33vh;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.searchInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%; /* Adjust width as needed */
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.serviceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.serviceBox {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background-color: whitesmoke;
}

.serviceTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.serviceDescription {
  font-size: 1rem;
  color: #555;
}

.servicePrice {
  font-size: 1rem;
  font-weight: bold;
}

.serviceLink {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}
