.page {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 2fr 4fr;
}

.profile {
  display: grid;
  background-color: bisque;
  display: grid;
  grid-template-rows: 3fr 3fr;
}

.rightColumn {
  margin: 1em;
  background-color: aliceblue;
}

.user {
  margin: 1em;
  background-color: aliceblue;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background-color: bisque;
  border-radius: 1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.bookings {
  display: grid;
  background-color: rgb(193, 200, 178);
  grid-template-rows: 1fr 9fr;
}

.dropdown {
  background-color: bisque;
  display: flex;
}

label {
  font-weight: 700;
}
